#particles-js {
  width: 100%;
  height: 100%;
  background-color: #01ABD7;
  background-image: url(Images/GSPngW.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
}

/* GorillaSyndicate */
.link--GorillaSyndicate {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #c5c2b8;
}

.link--GorillaSyndicate:hover {
	color: #c5c2b8;
}

.link--GorillaSyndicate::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--GorillaSyndicate:hover::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link--GorillaSyndicate::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #424242;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

.link--GorillaSyndicate:hover::before {
	width: 100%;
}